/node_modules
/public/hot
/public/storage
/public/js/*
/public/img/*
/public/svg/*
public/images/*
/public/css/*
/public/theme/*
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/_ide_helper_models.php
/.phpstorm.meta.php
/_ide_helper.php
/public/mix-manifest.json
